/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

#index-banner {
  background-image: url(../images/tide_background.png);
  background-size: cover;
  width: 100%; !important
   height: auto; !important
 
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.hide {
	display: none;
}

.hidden {
	display: none;
}

#productsOptionTitle {
	text-align: center;
	color: #2196F3;
}

.hideOptions {
	display: none;
}

#selectedOptionTitle {
	color: #2196F3;
}

.hideSelected {
	display: none;
}


.dropdownbuttonhide {
	display: none;
}

#addedGroceryTitle {
	text-align: center;
	color: #2196F3;
}

.hideGrocery {
	display: none;
}

.row .col.s12 {
	text-align: left;
}

#download-button{
	align-content: left;
}

#download-button {
	margin-left: 11px;
}

.miniheader {
	color: white;
}


@media only screen and (max-width: 900px) {

	#index-banner {
  background-image: url(../images/yellow_background.png);
	}

    h1 {
        text-align: center;
    }

    .row .col.s12 {
	text-align: center;
	}

	#download-button {
	margin:auto;
  	display:block;
	}
}         
